---
layout: home
title: 'Sycamore Design Newsletter'
---

<h2>Newsletter 💥 Strategies for Content & Career </h2>
<p>By Sam Sycamore, published twice monthly.</p>
<p>Actionable advice for becoming a better communicator.</p>
<p>Achieve your career goals by cultivating a strong personal brand!</p>
</p>
<div id="revue-embed">
  <form action="https://www.getrevue.co/profile/sycamore/add_subscriber" method="post" id="revue-form" name="revue-form"  target="_blank">
    <div class="revue-form-group">
      <label for="member_email">Your Email</label>
      <input class="revue-form-field" placeholder="Your email address..." type="email" name="member[email]" id="member_email">
    </div>
    <div class="revue-form-group">
      <label for="member_first_name">Your Name</label>
      <input class="revue-form-field" placeholder="Your name..." type="text" name="member[first_name]" id="member_first_name">
    </div>
    <div class="revue-form-actions">
      <input class="button" type="submit" value="Subscribe" name="member[subscribe]" id="member_submit">
    </div>
  </form>
</div>