---
layout: home
title: 'Sycamore Design Newsletter'
---

<h2>Newsletter</h2>
        <p>
          Join our scrappy collective of developers, designers, writers, and freelancers!
        </p>
        <p>
          I'll deliver a carefully curated newsletter once or twice a month at most. :)
        </p>
        <form
          action="https://buttondown.email/api/emails/embed-subscribe/samuelsycamore"
          method="post"
          target="popupwindow"
          onsubmit="window.open('https://buttondown.email/samuelsycamore', 'popupwindow')"
          class="embeddable-buttondown-form"
        >
          <label for="bd-email">Email</label>
          <input type="email" name="email" class="email" placeholder="Enter your email" id="bd-email" />
          <input type="hidden" value="1" name="embed" />
          <input class="btn input-btn" type="submit" value="Sign Up" />
        </form>
